@model List<ReportDeport.Models.template>

@{
    ViewBag.Title = "Templates";
}

<h2>Templates</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            if (!item.isHistory)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.ActionLink("Generate Report", "Index", new { id = item.templateId })
                </td>
            </tr>
            }
        }
    }

</table>
