
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to Report Depot</title>
</head>
<body>
    <p style="font-size:18px;"></p>
    <p style="font-size:18px;">
        Thanks for signing up to our Report Depot site
    </p>
    <p style="font-size:18px;">
        You account needs to be approved by our supportstaff before you can start generating custom reports
    </p>
    <p style="font-size:18px;">
        This process can take a maximum of 24 hours and an email will be sent to this email address
    </p>
    <p style="font-size:18px;">
        notifying you that your account has been approved or not.
    </p>
    <div>
        @RenderBody()
    </div>
</body>
</html>
