@{
    ViewBag.Title = "Help";
}



   <h2 style="margin-top:4%;">@ViewBag.Title</h2>



 
    
<div class="container">
    <div class="row">
        <div class="col-sm-8" style="    padding-left: 0;">
            <iframe width="700" height="310"
                    src="https://www.youtube.com/embed/UjHqDTfz5hk?controls=0"></iframe>
        </div>
        <div class="col-sm-4">
            <div class="btn btn-block btn-default" onclick="window.location = 'https://dotnetreport.com/demo/report'">
                <p>Live demo</p>
            </div>
            <div class="btn btn-block btn-default" style="margin-top: 21%; margin-bottom: 20%;" onclick="window.location = 'https://drive.google.com/open?id=0B2syNorkHSQ9cFFxN2VWYlZQWE0'">
                <p>Step by step instructions</p>
            </div>
            <div class="btn btn-block btn-default" onclick="window.location='http://example.com'">
                <p>Contact support</p>
            </div>
        </div>
    </div>
    <hr>
</div>



    <article class="node-28601 node node-page  view-mode-full clearfix"></article>
    <div id="block-pinterest-messages-messages-region-content-after" class="block block-pinterest-messages last even">


        <div class="view view-messages view-id-messages view-display-id-messages_pane view-dom-id-6aff9de9df836e54ca6f377bf49dc148">









        </div>
    </div>
