@{
    ViewBag.Title = "Help";
}



   <h2>@ViewBag.Title</h2>



 
    <div id="block-views-browse-help-topics-block-1" class="block block-views even">

        <iframe width="420" height="315"
src="https://www.youtube.com/embed/UjHqDTfz5hk?controls=0">
</iframe>
    </div>


    <article class="node-28601 node node-page  view-mode-full clearfix"></article>
    <div id="block-pinterest-messages-messages-region-content-after" class="block block-pinterest-messages last even">


        <div class="view view-messages view-id-messages view-display-id-messages_pane view-dom-id-6aff9de9df836e54ca6f377bf49dc148">









        </div>
    </div>
