@{
    ViewBag.Title = "Help";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div id="content" class="column" role="main">
    <a id="main-content"></a>
    <div class="page-title-wrapper">
        <h1 class="title" id="page-title">Homepage</h1>
    </div>

    <div id="block-pinterest-messages-messages-region-content-before" class="block block-pinterest-messages first odd">


        <div class="view view-messages view-id-messages view-display-id-messages_pane view-dom-id-a85e0834eb22ca275268dd7261123c01">









        </div>
    </div>
    <div id="block-views-browse-help-topics-block-1" class="block block-views even">


        <div class="view view-browse-help-topics view-id-browse_help_topics view-display-id-block_1 view-dom-id-80aa8f39c656c5be102bc0a8d5c38d1e">



            <div class="view-content">
                <h2>Browse help topics</h2>              <div class="views-row views-row-1 views-row-odd views-row-first">

                    <a href="/en/help-topic/Your%20account">
                        <div class="field field-name-field-circle-image field-type-image field-label-hidden">
                            <img class="style-50x50" src="https://help.pinterest.com/sites/help/files/styles/50x50/public/account_icon_562x.png?itok=i08_mjgA" width="50" height="50" alt="">
                        </div>
                    </a>
                    <div class="views-field views-field-name-1">        <span class="field-content"><a href="/en/help-topic/Your%20account"><div class="field field-name-name-field field-type-text field-label-hidden"><div class="field-items"><div class="field-item even">Your account</div></div></div></a></span>  </div>
                </div>
                <div class="views-row views-row-2 views-row-even">

                    <a href="/en/help-topic/Legal%20and%20privacy">
                        <div class="field field-name-field-circle-image field-type-image field-label-hidden">
                            <img class="style-50x50" src="https://help.pinterest.com/sites/help/files/styles/50x50/public/legal_icon_562x.png?itok=3xizezPu" width="50" height="50" alt="">
                        </div>
                    </a>
                    <div class="views-field views-field-name-1">        <span class="field-content"><a href="/en/help-topic/Legal%20and%20privacy"><div class="field field-name-name-field field-type-text field-label-hidden"><div class="field-items"><div class="field-item even">Legal and privacy</div></div></div></a></span>  </div>
                </div>
                <div class="views-row views-row-3 views-row-odd">

                    <a href="/en/help-topic/Businesses%20and%20websites">
                        <div class="field field-name-field-circle-image field-type-image field-label-hidden">
                            <img class="style-50x50" src="https://help.pinterest.com/sites/help/files/styles/50x50/public/businesses_circle_562x.png?itok=IkJDZGpm" width="50" height="50" alt="">
                        </div>
                    </a>
                    <div class="views-field views-field-name-1">        <span class="field-content"><a href="/en/help-topic/Businesses%20and%20websites"><div class="field field-name-name-field field-type-text field-label-hidden"><div class="field-items"><div class="field-item even">Businesses and websites</div></div></div></a></span>  </div>
                </div>
                <div class="views-row views-row-4 views-row-even">

                    <a href="/en/help-topic/Fix%20a%20problem">
                        <div class="field field-name-field-circle-image field-type-image field-label-hidden">
                            <img class="style-50x50" src="https://help.pinterest.com/sites/help/files/styles/50x50/public/issues_icon_562x.png?itok=4NtTjHNk" width="50" height="50" alt="">
                        </div>
                    </a>
                    <div class="views-field views-field-name-1">        <span class="field-content"><a href="/en/help-topic/Fix%20a%20problem"><div class="field field-name-name-field field-type-text field-label-hidden"><div class="field-items"><div class="field-item even">Fix a problem</div></div></div></a></span>  </div>
                </div>
                <div class="views-row views-row-5 views-row-odd">

                    <a href="/en/help-topic/Safety%20and%20standards">
                        <div class="field field-name-field-circle-image field-type-image field-label-hidden">
                            <img class="style-50x50" src="https://help.pinterest.com/sites/help/files/styles/50x50/public/reporting_icon_562x_0.png?itok=AWJ-Ga_4" width="50" height="50" alt="">
                        </div>
                    </a>
                    <div class="views-field views-field-name-1">        <span class="field-content"><a href="/en/help-topic/Safety%20and%20standards"><div class="field field-name-name-field field-type-text field-label-hidden"><div class="field-items"><div class="field-item even">Safety and standards</div></div></div></a></span>  </div>
                </div>
                <div class="views-row views-row-6 views-row-even">

                    <a href="/en/help-topic/Pinterest%20basics">
                        <div class="field field-name-field-circle-image field-type-image field-label-hidden">
                            <img class="style-50x50" src="https://help.pinterest.com/sites/help/files/styles/50x50/public/basics_icon_562x.png?itok=aeusTp9L" width="50" height="50" alt="">
                        </div>
                    </a>
                    <div class="views-field views-field-name-1">        <span class="field-content"><a href="/en/help-topic/Pinterest%20basics"><div class="field field-name-name-field field-type-text field-label-hidden"><div class="field-items"><div class="field-item even">Pinterest basics</div></div></div></a></span>  </div>
                </div>
                <div class="views-row views-row-7 views-row-odd">

                    <a href="/en/help-topic/Shopping%20on%20Pinterest">
                        <div class="field field-name-field-circle-image field-type-image field-label-hidden">
                            <img class="style-50x50" src="https://help.pinterest.com/sites/help/files/styles/50x50/public/commerce_icon_682x_1.png?itok=j35Aqifn" width="50" height="50" alt="">
                        </div>
                    </a>
                    <div class="views-field views-field-name-1">        <span class="field-content"><a href="/en/help-topic/Shopping%20on%20Pinterest"><div class="field field-name-name-field field-type-text field-label-hidden"><div class="field-items"><div class="field-item even">Shopping on Pinterest</div></div></div></a></span>  </div>
                </div>
                <div class="views-row views-row-8 views-row-even views-row-last">

                    <a href="/en/guide/all-about-pinterest">
                        <div class="field field-name-field-circle-image field-type-image field-label-hidden">
                            <img class="style-50x50" src="https://help.pinterest.com/sites/help/files/styles/50x50/public/guide_circle_web.png?itok=U_sQ_DBR" width="50" height="50" alt="">
                        </div>
                    </a>
                    <div class="views-field views-field-name-1">        <span class="field-content"><a href="/en/guide/all-about-pinterest"><div class="field field-name-name-field field-type-text field-label-hidden"><div class="field-items"><div class="field-item even">A Guide to Pinterest</div></div></div></a></span>  </div>
                </div>
            </div>




            <div class="view-footer">
                <div class="view view-most-popular-articles view-id-most_popular_articles view-display-id-homepage_popular_articles view-dom-id-d1cecfd5e47dda7bf59f8556f0eb94f4">
                    <div class="view-header">
                        <h2>Popular articles</h2>
                    </div>



                    <div class="view-content">
                        <div class="popular-articles-wrapper">
                            <div class="views-row views-row-1 views-row-odd views-row-first">

                                <div class="views-field views-field-title">        <span class="field-content"><a href="#">Login trouble</a></span>  </div>
                            </div>
                            <div class="views-row views-row-2 views-row-even">

                                <div class="views-field views-field-title">        <span class="field-content"><a href="#">If someone else signed up with your email</a></span>  </div>
                            </div>
                            <div class="views-row views-row-3 views-row-odd">

                                <div class="views-field views-field-title">        <span class="field-content"><a href="#">Block or unblock someone</a></span>  </div>
                            </div>
                            <div class="views-row views-row-4 views-row-even">

                                <div class="views-field views-field-title">        <span class="field-content"><a href="#">Edit your settings</a></span>  </div>
                            </div>
                            <div class="views-row views-row-5 views-row-odd">

                                <div class="views-field views-field-title">        <span class="field-content"><a href="#">Add, edit or delete a Pin</a></span>  </div>
                            </div>
                            <div class="views-row views-row-6 views-row-even">

                                <div class="views-field views-field-title">        <span class="field-content"><a href="#">Report something on Pinterest</a></span>  </div>
                            </div>
                            <div class="views-row views-row-7 views-row-odd">

                                <div class="views-field views-field-title">        <span class="field-content"><a href="#">Limits for Pins, boards, likes and following</a></span>  </div>
                            </div>
                            <div class="views-row views-row-8 views-row-even views-row-last">

                                <div class="views-field views-field-title">        <span class="field-content"><a href="#">Limits and blocks</a></span>  </div>
                            </div>
                        </div>
                    </div>






                </div><div class="view view-problems-we-are-fixing view-id-problems_we_are_fixing view-display-id-block_one view-dom-id-d2f568b05dd5e08e2a47d93762a529b1">
                    <div class="view-header">
                        <h2><a href="/en/help-topic/Fix%20a%20problem">Problems we're fixing</a></h2>
                    </div>



                    <div class="view-content">
                        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">

                            <div class="views-field views-field-title">        <span class="field-content"><a href="/en/articles/other-problems-were-fixing">Other problems we're fixing</a></span>  </div>
                        </div>
                    </div>
                    <a href="/en/help-topic/Fix%20a%20problem" class="view-more-s">See all</a>
                s




                </div>
            </div>


        </div>
    </div>


    <article class="node-28601 node node-page  view-mode-full clearfix"></article>
    <div id="block-pinterest-messages-messages-region-content-after" class="block block-pinterest-messages last even">


        <div class="view view-messages view-id-messages view-display-id-messages_pane view-dom-id-6aff9de9df836e54ca6f377bf49dc148">









        </div>
    </div>
</div>
