@{
    ViewBag.Title = "Help";
}



   <h2>@ViewBag.Title.</h2>



 
    <div id="block-views-browse-help-topics-block-1" class="block block-views even">


        <div class="col-lg-12">



            <div class="col-lg-8" style="margin-left: -30px;">
                <h2 style="margin-top: 0;">Browse help topics</h2>              
                <div class="col-md-6" style="padding-left: 0;">

                    <a href="/en/help-topic/Your%20account">
                        <div class="field field-name-field-circle-image field-type-image field-label-hidden" >
                            <img class="style-50x50" src="https://help.pinterest.com/sites/help/files/styles/50x50/public/account_icon_562x.png?itok=i08_mjgA" width="50" height="50" alt="">
                        </div>
                    </a>
                    <div class="views-field views-field-name-1">        <span class="field-content"><a href="/en/help-topic/Your%20account"><div class="field field-name-name-field field-type-text field-label-hidden"><div class="field-items"><div class="field-item even">Your account</div></div></div></a></span>  </div>
                <p>This link takes you to information concerning any questions you may have about your account</p>
                </div>
                <div class="col-md-6">

                    <a href="/en/help-topic/Legal%20and%20privacy">
                        <div class="field field-name-field-circle-image field-type-image field-label-hidden">
                            <img class="style-50x50" src="https://help.pinterest.com/sites/help/files/styles/50x50/public/legal_icon_562x.png?itok=3xizezPu" width="50" height="50" alt="">
                        </div>
                    </a>
                    <div class="views-field views-field-name-1">        <span class="field-content"><a href="/en/help-topic/Legal%20and%20privacy"><div class="field field-name-name-field field-type-text field-label-hidden"><div class="field-items"><div class="field-item even">Legal and privacy</div></div></div></a></span>  </div>
                <p>Information about the legal use of the system. You will find information about our privacy policy.</p>
                </div>
                <div class="col-md-6" style="padding-left: 0;">

                    <a href="/en/help-topic/Businesses%20and%20websites">
                        <div class="field field-name-field-circle-image field-type-image field-label-hidden">
                            <img class="style-50x50" src="https://help.pinterest.com/sites/help/files/styles/50x50/public/businesses_circle_562x.png?itok=IkJDZGpm" width="50" height="50" alt="">
                        </div>
                    </a>
                    <div class="views-field views-field-name-1">        <span class="field-content"><a href="/en/help-topic/Businesses%20and%20websites"><div class="field field-name-name-field field-type-text field-label-hidden"><div class="field-items"><div class="field-item even">Moodle and Report depot</div></div></div></a></span>  </div>
                <p>Information about our report generating systems.</p>
                </div>
                <div class="col-md-6">

                    <a href="/en/help-topic/Fix%20a%20problem">
                        <div class="field field-name-field-circle-image field-type-image field-label-hidden">
                            <img class="style-50x50" src="https://help.pinterest.com/sites/help/files/styles/50x50/public/issues_icon_562x.png?itok=4NtTjHNk" width="50" height="50" alt="">
                        </div>
                    </a>
                    <div class="views-field views-field-name-1">        <span class="field-content"><a href="/en/help-topic/Fix%20a%20problem"><div class="field field-name-name-field field-type-text field-label-hidden"><div class="field-items"><div class="field-item even">Fix a problem</div></div></div></a></span>  </div>
                <p>Got any problem(s) with using Report Depot?</p>
                </div>
                <div class="col-md-6" style="padding-left: 0;">

                    <a href="/en/help-topic/Safety%20and%20standards">
                        <div class="field field-name-field-circle-image field-type-image field-label-hidden">
                            <img class="style-50x50" src="https://help.pinterest.com/sites/help/files/styles/50x50/public/reporting_icon_562x_0.png?itok=AWJ-Ga_4" width="50" height="50" alt="">
                        </div>
                    </a>
                    <div class="views-field views-field-name-1">        <span class="field-content"><a href="/en/help-topic/Safety%20and%20standards"><div class="field field-name-name-field field-type-text field-label-hidden"><div class="field-items"><div class="field-item even">Safety and standards</div></div></div></a></span>  </div>
                <p>Find out about the Report Depot standards by clicking on the link above.</p>
                </div>
                <div class="col-md-6">

                    <a href="/en/help-topic/Pinterest%20basics">
                        <div class="field field-name-field-circle-image field-type-image field-label-hidden">
                            <img class="style-50x50" src="https://help.pinterest.com/sites/help/files/styles/50x50/public/basics_icon_562x.png?itok=aeusTp9L" width="50" height="50" alt="">
                        </div>
                    </a>
                    <div class="views-field views-field-name-1">        <span class="field-content"><a href="/en/help-topic/Pinterest%20basics"><div class="field field-name-name-field field-type-text field-label-hidden"><div class="field-items"><div class="field-item even">Report depot basics</div></div></div></a></span>  </div>
                <p>Basics on how to use the Report Depot system.</p>
                </div>

                <div class="col-md-6" style="">

                    <a href="/en/help-topic/Shopping%20on%20Pinterest">
                        <div class="field field-name-field-circle-image field-type-image field-label-hidden">
                            <img class="style-50x50" src="https://help.pinterest.com/sites/help/files/styles/50x50/public/guide_circle_web.png?itok=U_sQ_DBR" width="50" height="50" alt="">
                        </div>
                    </a>
                    <div class="views-field views-field-name-1">        <span class="field-content"><a href="/en/help-topic/Shopping%20on%20Pinterest"><div class="field field-name-name-field field-type-text field-label-hidden"><div class="field-items"><div class="field-item even">External customization</div></div></div></a></span>  </div>
                <p>Click on the link to find out more about external customization like customizing your report in Microsoft Excel.</p>
                </div>
                
            </div>
            <div class="col-lg-4" style="padding-left: 0 !important;">
                <div class="view view-most-popular-articles view-id-most_popular_articles view-display-id-homepage_popular_articles view-dom-id-d1cecfd5e47dda7bf59f8556f0eb94f4">
                    <div class="view-header">
                        <h2 style="margin-top: 0;">Popular articles</h2>
                    </div>



                    <div class="view-content">
                        <div class="">
                            <div class="views-row views-row-1 views-row-odd views-row-first">

                                <div class="views-field views-field-title">        <span class="field-content"><a href="#">Login trouble</a></span>  </div>
                            </div>
                            <div class="views-row views-row-2 views-row-even">

                                <div class="views-field views-field-title">        <span class="field-content"><a href="#">Report deport navigation tutorial</a></span>  </div>
                            </div>
                            
                            <div class="views-row views-row-4 views-row-even">

                                <div class="views-field views-field-title">        <span class="field-content"><a href="#">Edit your settings</a></span>  </div>
                            </div>
                            
                            <div class="views-row views-row-6 views-row-even">

                                <div class="views-field views-field-title">        <span class="field-content"><a href="#">Report something on Report depot</a></span>  </div>
                            </div>
                            <div class="views-row views-row-7 views-row-odd">

                                <div class="views-field views-field-title">        <span class="field-content"><a href="#">Retrieve deleted reports</span>  </div>
                            </div>
                            <div class="views-row views-row-8 views-row-even views-row-last">

                                <div class="views-field views-field-title">        <span class="field-content"><a href="#">Limits and blocks</a></span>  </div>
                            </div>
                        </div>
                    </div>

                </div><div class="view view-problems-we-are-fixing view-id-problems_we_are_fixing view-display-id-block_one view-dom-id-d2f568b05dd5e08e2a47d93762a529b1">
                    <div class="view-header">
                        <h2><a href="/en/help-topic/Fix%20a%20problem">FAQ's</a></h2>
                    </div>



                    <div class="view-content">
                        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">

                            <div class="views-field views-field-title">        <span class="field-content"><a href="/en/articles/other-problems-were-fixing">Other problems we're fixing</a></span>  </div>
                        </div>
                    </div>
                    <a href="/en/help-topic/Fix%20a%20problem" class="view-more-s">See all</a>
                </div>
            </div>


        </div>
    </div>


    <article class="node-28601 node node-page  view-mode-full clearfix"></article>
    <div id="block-pinterest-messages-messages-region-content-after" class="block block-pinterest-messages last even">


        <div class="view view-messages view-id-messages view-display-id-messages_pane view-dom-id-6aff9de9df836e54ca6f377bf49dc148">









        </div>
    </div>
