
@{
    ViewBag.Title = "UserLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <h1 class="page-header">
        Report Deport
    </h1>


    <div class="row">
        
        <div class="col-md-4 col-sm-6">
            <a href="http://www.hubblestudios.com/">
                <img class="img-responsive img-portfolio img-hover" src="~/Content/images/hubblestudios.png" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6" height="200" width="350">
            <a href="#">
                <img class="img-responsive img-portfolio img-hover" src="~/Content/images/Reports.png" alt="">
            </a>
        </div>


   </div>
        



        <div class="col-md-4">
            <div class="panel panel-default" height="200" width="200">
                <div class="panel-heading">
                    <h4>Report History</h4>
                </div>
                <div class="panel-body">
                    <p>Store Templates of Previous Downlaods: On this page is where you will find a record of all the reports you have previously downloaded. They are arranged in ascending order starting from latest to earliest</p>
                    <a href="~/Views/templates/TemplatesIndex.cshtml" class="btn btn-default">Previously Downloaded</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Report Preview</h4>
                </div>
                <div class="panel-body">
                    <p>Allows user to get a view of what the final report will look like. This is helpful as users can identify any missing fields on the report before downlaoding the report. You can also edit the file. </p>
                    <a href="~/Views/Home/Index.cshtml" class="btn btn-default">Report Preview Page</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>< Report Request</h4>
                </div>
                <div class="panel-body">
                    <p>The report request page is where the user is presenterd with a drop down search box contianing all the tables they cant get data on. They then choose fields they desire and click preview or download </p>
                    <a href="#" class="btn btn-default">Report Request</a>
                </div>
            </div>
        </div>



   
        <div class="row">
           
            <div class="col-md-6">
                <h4 style="margin-left:15px; font-weight:bold;">
                   Features of Report Depot
                </h4>
                <ul>
                    
                    <li>Able to download reports instantly, saving the client time and also offering a sense of customisation by allowing different/multiple results.</li>
                    <li>Able to store templates that can be used to download the same report fields but in a future date.</li>
                    <li>Able to store previously downlaoded reports and allow the user to download them again</li>
                                  
                </ul>
             </div>
            
        </div>
     


        <!-- /.container -->
        <!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>

   




</body>