
@{
    ViewBag.Title = "UserLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    


    <div class="row" style="/* border-top-left-radius: 11px; */ /* border-top-right-radius: 11px; */ height: 408px; margin-bottom: 21px; margin-top: 19px; padding-top: 55px; width: 100%; margin-left: 0; /* background: linear-gradient(to right, #b6c3d4, #b5bcc5, #c4ccd7, #a6c2df); */ /* box-shadow: 0 10px 6px -10px rgba(0, 0, 0, 0.6) inset; */ border-bottom: 1px lightgrey solid;">
        <div class="col-md-6">
            
                <img class="img-responsive img-portfolio img-hover" src="/Content/images/hubblestudios.png" alt="" style="margin-left: 179px;"><h4 style="margin-left: 302px;margin-top: -54px;color: #080860;">Report Depot</h4>
            
        </div>
        <div class="col-md-6" height="200" width="350">
     
                <img class="img-responsive img-portfolio img-hover" src="/Content/images/Reports.png" alt="" style="margin-left: -9px;width: 447px;">
      
        </div>
        <div class="col-md-12"><h2 style="color: #080860;text-align:center;">Easy to use Ad-hoc Report builder</h2></div>
    </div>



    <div class="row">

     
            <h2 style="margin-left:15px;color:#080860; ">
                Key Features
            </h2>
           
      

    </div>
    <div class="home-page-features">

        <div class="box first">
            <div class="row">
                <div class="col-sm-4 ">
                    <div class="center">
                       
                        <h4 class="pull-left" style="color:#345578"><span class="glyphicon glyphicon-wrench"></span>&nbsp Do It Yourself</h4>
                        <hr style="clear: both;">
                        <p>Ad Hoc Reports that you can easily Create, Manage and Run. Take developers or back office out of it, and let your clients create their own Reports.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="center">
                        
                        <h4 class="pull-left" style="color:#345578"><span class="glyphicon glyphicon-dashboard"></span> &nbsp Graphs and Charts</h4>
                        <hr style="clear: both;">
                        <p>You can easily create many useful Bar, Pie or Line Charts and Graphs. The Report Builder uses Google Charts, and you can add more Chart types in your code if you need to.</p>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div class="center">
                       
                        <h4 class="pull-left" style="color:#345578"><span class="glyphicon glyphicon-filter"></span>&nbsp Filter using List</h4>
                        <hr style="clear: both;">
                        <p>.Net Report Builder can automatically build relational data list for easily Filtering Data by selection one or more values from a Drop Down List.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 ">
                    <div class="center">
                       
                        <h4 class="pull-left" style="color:#345578"><span class="glyphicon glyphicon-calendar"></span>&nbsp Advanced Date Options</h4>
                        <hr style="clear: both;">
                        <p>This custom report buidler provides advanced Date options where you can easily Filter or Group by Months, Years or Date Range.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="center">
                        
                        <h4 class="pull-left" style="color:#345578"><span class="glyphicon glyphicon-wrench"></span>&nbsp Organize in Folders</h4>
                        <hr style="clear: both;">
                        <p>Your End users can Save and Organize Reports in to Folders, with built-in support for multiple end users.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="center">
                        <h4 class="pull-left" style="color:#345578"><span class="glyphicon glyphicon-export"></span>&nbsp Export to Excel</h4>
                        <hr style="clear: both;">
                        <p>You can easily export the Report Data to Excel, and can also export Drilldown Sub Report data to Excel also.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 ">
                    <div class="center">
                        
                        <h4 class="pull-left" style="color:#345578"><span class="glyphicon glyphicon-wrench"></span>&nbsp Report History</h4>
                        <hr style="clear: both;">
                        <p>Store Templates of Previous Downloads: On this page is where you will find a record of all the reports you have previously downloaded. They are arranged in ascending order starting from latest to earliest.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="center">
                      
                        <h4 class="pull-left" style="color:#345578"><span class="glyphicon glyphicon-wrench"></span>&nbsp Report Preview</h4>
                        <hr style="clear: both;">
                        <p>Allows user to get a view of what the final report will look like. This is helpful as users can identify any missing fields on the report before downlaoding the report. You can also edit the file.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="center">
                    
                        <h4 class="pull-left" style="color:#345578"><span class="glyphicon glyphicon-th"></span>&nbsp Drilldown in to Groups</h4>
                        <hr style="clear: both;">
                        <p>Grouped Reports are built with Drilldown option, where you can expand and get the full List of Data Rows that were Grouped together.</p>
                    </div>
                </div>
            </div>
     
        </div>
        <br>
        <p style="/* border: 1px solid #cccccc; */ height: 102px; padding-top: 17px; font-size: 23px; padding-left: 24px; color: black; /* background: linear-gradient(to right, #b6c3d4, #d9cdcd, #c4ccd7, #a6c2df); */ box-shadow: 0 10px 6px -11px rgba(0, 0, 0, 0.6) inset; border-bottom-right-radius: 11px; border-bottom-left-radius: 11px;">All these and many other features. To explore more, try out the <a href="https://dotnetreport.com/demo/report">Live Demo</a> or head over to the <a href="https://dotnetreport.com/forum">Support Forum</a>. To get Started, <a href="/account/register">Register for an Account now</a>.</p>

    </div>
        <div class="col-md-4" style="padding-left: 0; display:none;">
            <div class="panel panel-default" height="200" width="200">
                <div class="panel-heading">
                    <h4>Report History</h4>
                </div>
                <div class="panel-body">
                    <p>Store Templates of Previous Downloads: On this page is where you will find a record of all the reports you have previously downloaded. They are arranged in ascending order starting from latest to earliest</p>
                    @if (!User.Identity.Name.Equals(""))
                    {
                    <a href="~/GenerateReport/Edit" class="btn btn-primary">Previously Downloaded</a>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-4" style="display:none;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Report Preview</h4>
                </div>
                <div class="panel-body">
                    <p>Allows user to get a view of what the final report will look like. This is helpful as users can identify any missing fields on the report before downlaoding the report. You can also edit the file. </p>
                    @if (!User.Identity.Name.Equals(""))
                    {
                    <a href="~/Home/Index" class="btn btn-primary">Report Preview Page</a>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-4" style="padding-right: 0;display:none;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Report Request</h4>
                </div>
                <div class="panel-body">
                    <p>The report request page is where the user is presenterd with a drop down search box contianing all the tables they cant get data on. They then choose fields they desire and click preview or download </p>
                    @if (!User.Identity.Name.Equals(""))
                    {
                    <a href="~/GenerateReport/Index" class="btn btn-primary">Report Request</a>
                    }
                </div>
            </div>
        </div>



   
     


        <!-- /.container -->
        <!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>

   




</body>